[Desktop Entry]
Type=Application
Name=Shapeshifter
GenericName=Profile Manager
Comment=Lilith Linux profile and desktop environment manager
Exec=/usr/bin/shapeshifter
Icon=shapeshifter
Categories=System;Settings;
Keywords=profile;backup;desktop;switch;environment;
Terminal=false
StartupNotify=true
